*{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background-image: linear-gradient(to bottom, #5f2c82, #49a09d);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    height: 500px;
    width: 250px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: width 0.5s, heigth 0.5s;
    transition-timing-function: ease;
}
section#login > div#imagem{
    background: #5f2c82 url(../imagens/metal.jpg) no-repeat;
    height: 200px;
    background-size: cover;
    background-position: left bottom;
    display: block;

}
div#formulario{
    padding: 10px;
    display: block;
}

div#formulario > p{
    font-size: 0.8em;
}

div#formulario > h1{
    font-size: 2em;
    text-align: center;
}

div#campo{
    background-color: #5f2c82;
    margin: 5px 0px;
    border-radius: 5px;
    color: white;
    height: 40px;
    border: 2px solid  #5f2c82;;


}

div#campo> span{
    font-size: 2em;
    padding:5px;
    width: 40px;

}
div#campo > input{
background-color:  #ffffff;
font-size: 1em;
height: 100%;
border-radius: 5px;
width: calc(100% - 45px);
transform:translateY(-12px)
}

input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 30px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
}
input[type=submit]:hover{
    background-color: #87d6d4;
    cursor: pointer;
    border: 1px solid #49a09d;
}
form > a.botao{
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 1em;
    padding-top: 2px;
    width: 100%;
    height: 30px;
    background-color: white;
    color: #49a09d;
    border: 1px solid #49a09d;
    border-radius: 5px;
    margin-top: 5px;
}
form > a.botao > span{
    font-size: 1em;
}
form > a.botao:hover{
    background-color: #87d6d4;
    cursor: pointer;
    color: white;
}
